body{

    background-size: cover;
}

.container-fluid{
    
    border-radius: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 400px;
}

.btn.btn-default.active.toggle-off{
    background-color: green;
    color: white;
}







      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
        width: 100%;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

